@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Sensors" asp-action="Index">Go to Sensors</a>
}
else
{
    <div class="text-center">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <partial name="_LoginPartial" />
        </nav>
    </div>
}